.button{
   
 
    -fx-text-fill: rgb(156,156,156);
   -fx-background-color:  transparent;
  -font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    
}
.button:hover{
   
 
    -fx-text-fill: rgb(255,255,255);
   -fx-background-color:  transparent;
  -font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    
}
.primBack
{
-fx-background-color:rgb(84,84,84);


}

.frame > .title{
    
    
    -fx-background-color:rgb(54,54,54);
}

.frame{
    -fx-text-fill: rgb(255,255,255);
     -fx-background-color:rgb(0,0,0);
     
}
.menu-button
.frame .menu-button{
        -fx-text-fill: rgb(156,156,156);
   -fx-background-color:  transparent;
      -font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.frame .menu-button:hover{
          -fx-text-fill: rgb(255,255,255);
   -fx-background-color:  transparent;
  -font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
     
}